.backg{
   background-color: #049E79;
   color:white;
}

@media(min-width: 350px) {
.text-en{
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}
}
@media(max-width: 350px) {
    .text-en{
      padding: 15px;
       text-align: justify;
    }
}